:host(project-results) {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.project-results-container {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}