@import '../../styles/vars.scss';

:host(result-body) {
    display: block;
    padding: 0;
    position: relative;
    top: -0.5em;
}

.result-body-container {
    content-collapse {
        display: block;
        padding: 0 0.5em;
        margin: 0.25em 0;
    }
}

.result-body-content {
    padding: 0em 1em 1em;
    position: relative;

    suites-content {
        margin: 0.25em 0;
        display: block;
        width: 100%;

        &:first-of-type {
            margin-top: 0.125em;
        }

        &:last-of-type {
            margin-bottom: 0.5em;
        }
    }
}

.result-body-logs-content {
    white-space: pre;
    overflow: auto;
    font-size: 90%;
}