<div class="app-content-container">
    <div id="home-container">
        <div id="home-sidebar">
            <button-element id="new-project-btn" class="w-100">New project</button-element>
            <project-list></project-list>
        </div>
        <div id="home-main">
            <no-project></no-project>
            <project-header></project-header>
            <project-settings></project-settings>
            <project-results></project-results>
        </div>
    </div>
    <test-progress></test-progress>
    <overlay-message id="app-messages"></overlay-message>
    <spinner-element id="app-spinner" page="true" scrim="true" type="circle"></spinner-element>
</div>
