<div class="suite-content-container">
    <content-collapse class="toggler-hover-dim">
        <div class="suite-content-name-container" slot="content-collapse-toggler">
            <div class="suite-content-name"></div>
            <span class="suite-content-state">
                <span class="suite-content-skips"></span>&nbsp;&middot;&nbsp;<span class="suite-content-fails"></span>&nbsp;&middot;&nbsp;<span class="suite-content-passes"></span>
            </span>
        </div>

        <div class="suite-content-tests" slot="content-collapse-content"></div>
    </content-collapse>
</div>
