@import '../../styles/vars.scss';

.test-result-container {
    position: relative;
    padding: 0 1em;

    /*
    &.even:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $baseLight;
        border-radius: 0.2em;
    }
    */
}