@import '../../styles/vars.scss';

:host(coverage-results) {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.coverage-results-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: -0.25em;
    padding: 0.5em 0 0 1.5em;

    .coverage-results-lines,
    .coverage-results-branches,
    .coverage-results-functions,
    .coverage-results-statements {
        display: flex;
        align-items: center;
        position: relative;
        left: -0.25em;
        margin: 0 0.25em;

        &>* {
            margin: 0 0.25em;
        }
    }
}

.coverage-results-files {
    coverage-result {
        display: block;
        padding: 0.5em;
        margin: 0.25em 0;
        border-radius: 0.25em;
    }
}