@import '../../styles/vars.scss';

.project-header-bar {
    display: flex;
    align-items: center;
    @include spaceBetween(relative, 0.75em);
}

.project-header-text {
    margin: 0;
    padding-top: 0.25em;
}

.header-right {
    display: flex;
    align-items: center;
}

.run-project {
    margin-right: 0.5em;

    &.hide {
        pointer-events: none;
        margin-right: 0;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }
}