<div class="project-settings-container">
    <content-transition class="project-settings-transition" keepchildren="true" speed="400">
        <div class="project-settings-empty"></div>
        <div class="project-settings-content" slot="hidden">
            <div class="input">
                <input-field label="Name" class="project-settings-name"></input-field>
            </div>
            <div class="input">
                <input-field label="Package.json" type="file" class="project-settings-package"></input-field>
            </div>
            <div class="input">
                <input-field label="Entry" type="file" class="project-settings-entry"></input-field>
            </div>
            <div class="input">
                <input-field label="Tests path pattern" type="text" class="project-settings-tests-path"></input-field>
            </div>

            <div class="input">
                <input-field label="Requires Babel?" type="checkbox" labelposition="right" class="project-settings-require-babel" style="margin:-0.75em 0 -1.25em;"></input-field>
            </div>

            <div class="input">
                <content-transition keepchildren="true" class="project-settings-babel-transition">
                    <div slot="hidden"></div>
                    <input-field label="Babel config (optional)" type="file" class="project-settings-babel-config" slot="hidden"></input-field>
                </content-transition>
            </div>

            <div class="input" style="padding-bottom: 2em;">
                <button-element class="project-settings-submit">Save</button-element>
            </div>
        </div>
    </content-transition>
</div>
