@import '../../styles/vars.scss';
@import '../../styles/input-field.scss';

:host(project-settings) {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.project-settings-container {
    &.new-project {
        .project-settings-delete {
            display: none;
        }
    }
}